{% extends 'blog_base.html' %}
{% block about %}
<article class="post page">
   <header class="post-head">
       <h1 class="post-title">关于这个博客</h1>
   </header>
   <section class="post-content">
       <blockquote>
           <p>This blog records my work and study.</p>
       </blockquote>
       <hr />
           <p>可以通过以下方式与我交流：</p>
           <ul>
              <li>GitHub：<a href="http://github.com/flywen" target="_blank">flywen</a></li>
              <li>Email：flywen@flywen.cn</li>
           </ul>
       <hr />
    </section>
</article> 
{% endblock %}
