<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block extra_head %}{% endblock %}
     
 </head>
  <body>
  <!-- 删除提示 -->
  <script language="javascript">
    function delcfm() {
        if (!confirm("确认要删除？!!")) {
            window.event.returnValue = false;
        }
    }
</script>
  
    {% block nav %}
      {% include "blog_nav.html" %}
    {% endblock %}
    
 
<div class="container">
 <div class="col-sm-9">
    {% block content %}{% endblock %}
 </div> 
 <div class="col-sm-3">
    {% block right %}{% endblock %}
</div> 
    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
 
 </div> 
  </body>
</html>